.line1 {
    display: flex;
    height: auto;
    flex-direction: column;
}
.fa-solid.fa-bars {
    display: inline;
}
.line1 .left {
    width: auto;
    margin: 4% 2%;
}
.line1 .left img {
    margin-bottom: 0;
}
.line1 .left .one{
    justify-content: space-around;
    align-items: center;
}
.line1 h1 {
    width: auto;
    height: auto;
    font-size: 30px;
    line-height: 45px;
    margin-top: 17px;
    text-align: center;
}
.line1 p {
    font-size: 14px;
    margin-right: 0;
    text-align: center;
}
.line1 .search-container {
    margin: 0;
    padding: 4px 3px 4px 12px;
    width: auto;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #E0E3EB;
    border-radius: 32px;
}
.line1 .search-box {
    width: 78%;
}
.line1 .right {
    display: flex;
    width: auto;
    height: 725px;
    background-image: url(../img/image\ 6.png);
    background-repeat: no-repeat;
    flex-direction: column;
    overflow: hidden;
    background-size: cover;
    justify-content: flex-end;
}
.line1 .right .header {
    display: none;
}
.line1 .search-container button {
    width: 19%;
}
.line1 .logos-web {
    width: 100%;
}
.line2 {
    margin: 4% 2%;
}
.line2 .one {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    flex-direction: column;
}
.line2 .one .row {
    display: none;
}
.line2 .two {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-top: 4%;
    flex-wrap: wrap;
}
.line2 .two img {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}
.line3 {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.line3 .right {
    margin-left: 0;
}
.line3 .right img {
    width: 100%;
}
.line4 .Review {
    flex-direction: column;
}
.line3 {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.line3 .right {
    margin-left: 0;
}
.line3 .right img {
    width: 100%;
}
.line4 .Review {
    flex-direction: column;
}
.line4 .Review .a{
    display: none;
}
.line4 .Review .c{
    display: none;
}
.line4 img {
    width: 100%;
}
.line5 .two {
    width: -webkit-fill-available;
    display: flex;
    margin: 1%;
    flex-direction: column;
}
.line5 .two img{
    width: 100%;
}
.line6 {
    width: auto;
    height: auto;
    margin: 4% 1%;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.line6 .one {
    display: none;
}
.line6 .three {
    display: none;
}
.line6 .two p {
    font-size: 26px;
    line-height: 35px;
    width: auto;
    margin: 2%;
}
.line6 .two button {
    width: 105px;
}
.line6 .two input {
    width: 75%;
}
.line6 .two {
    height: 170px;
}
.footer {
    display: flex;
    margin: 7% 2%;
    justify-content: space-between;
    flex-direction: column;
}
.footer .two {
    display: flex;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}
.footer .two .all {
    width: 30%;
}
